/*
 * main.css
 */

/*
 * Colors
 */
:root {
  --background-color: #222222;
  --text-color: #FFFFFF;
}

/*
 * Body Styling
 */
body {
  background-color: var(--background-color);
  margin-top: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
}

/*
 * Text Styling
 */
.full_screen_message {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
  text-align: left;
  line-height: 1.5;
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Image Styling
 */
.full_screen_image {
  max-width: 90%;
  max-height: 90%;
  position: fixed;
  top: 0pt;
  bottom: 0pt;
  left: 0pt;
  right: 0pt;
  margin: auto;
  overflow: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.reward_image {
  max-width: 20%;
  max-height: 20%;
  position: fixed;
  top: 0pt;
  bottom: 0pt;
  left: 0pt;
  right: 0pt;
  margin: auto;
  overflow: auto;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0;
}

@keyframes fade_out {
  0% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

.fade_out {
  animation-name: fade_out;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
